<section id="posts">

  <% @posts.each do |post| %>
    <article id="post-<%= post.id %>" class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <!-- <meta itemprop="url" content="http://blog.popupdesign.com.br/schema.org-dando-significado-ao-conteudo-na-internet" />

      <meta itemprop="keywords" content="schema.org, SEO, microdata" /> -->
      
      <div class="container">

        <a href="<%= post_path(post) %>">

          <h1 class="title" itemprop="headline"><%= post.title %></h1>

          <h1 class="text-center meta">
            <small>Em 26 de Dezembro de 2013</small>
          </h1>

          <p class="excerpt" itemprop="articleBody">
            <%= post.content %>
          </p>

        </a>

      </div> <!-- .container -->

    </article> <!-- .post -->
  <% end %>

</section> <!-- #posts -->